<pre>

[+] I'm a nigerian virus. Please crack these hashes for me
[+] as I can't afford a computer. BTW. the passwords are
[+] composed of excatly {{length}} characters of digits.

[ ] Unsalted ("raw-sha1"):

{{ '\n'.join(unsalted) }}

[ ] Salted ("sha1-gen"):
{{ '\n'.join(salted) }}

[ ] Weakly salted ("sha1-gen"):
{{ '\n'.join(weakly_salted) }}


[.] Another side note, to generate all the possible passwords
[ ] you may use this python script:

import itertools
import string

length = 7
corpus = string.digits

try:
    for a in itertools.product(corpus, repeat=length):
        print(''.join(a))
except IOError:
    pass


</pre><br>
