<pre>
[+] Your task is twofold:
     1) Check if the implementation of a hash/dictionary
        in your favourite programming language is vulnerable
        to hash-flooding.
     2) Implement a single round of siphash in your favoirite
        programming language.
     3) As a bonus point - implement full siphash algorithm!

[+] Count a single round of siphash using this v0-v3 inputs:

    v0 = {{v0}}
    v1 = {{v1}}
    v2 = {{v2}}
    v3 = {{v3}}

    w0, w1, w2, w3 = single_siphash_round(v0, v1, v2, v3)

[+] And submit the resulting w0 (ie: new v0):
</pre><br>
<form method="POST" action=".">
  <input name="string" type="text" />
  <input type="submit" />
</form>
