<h2>Pragmatic crypto lecture exercises:</h2>

<ul>
  <li><a href="/exercise0/">Exercise #0: Warmup </a></li>
  <li><a href="/exercise1/">Exercise #1: LCG predition </a></li>
  <li><a href="/exercise2/">Exercise #2 (with star): LCG recovery</a></li>
  <li><a href="/exercise3/">Exercise #3: Random seed recovery</a></li>
  <li><a href="/exercise4/">Exercise #4: Hash flooding example</a></li>
  <li><a href="/exercise5/">Exercise #5: Resistance to hash flooding</a></li>
  <li><a href="/exercise6/">Exercise #6: Breaking single MD5</a></li>
  <li><a href="/exercise7/">Exercise #7: Breaking many SHA1 hashes</a></li>
  <li><a href="/exercise8/">Exercise #8: Timing SHA1 salted and unsalted</a></li>
  <li><a href="/exercise9/">Exercise #9: Simple dictionary attack</a></li>
</ul>
